/* base */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(141, 91, 91);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #694141;
}
* {
  /* transition: all 0.2s linear; */
}
.body {
  height: 500px;
}
h4 {
  text-transform: uppercase;
  color: #2c2e53;
  position: relative;
  display: inline-block;
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: 900;
}
h4:after {
  content: "";
  margin-top: 0.8rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 16rem;
  border-top: 0.6rem solid #bd945f;
}
/* Base */

.header {
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header .img-logo {
  height: 5.5rem;
}
.nav-list {
  padding: 0.8rem 1.6rem;
}
.nav-list .nav-item {
  font-size: 1.4rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  position: relative;
}
.list-icon .item-icon i {
  font-size: 1.9rem;
  color: #000;
}
.item-icon:hover i {
  color: #bd945f;
  transition: 0.3s ease;
}
.item-icon {
  cursor: pointer;
}
.item-icon.icon-cart:hover .box.box-cart {
  display: block !important;
}
.header .box::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  top: 0;
  left: 90%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid #bd945f;
  border-left: 2px solid #bd945f;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: #fff;
}
.header .box::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 6rem;
  height: 3rem;
  top: -22%;
  left: 85%;
  background-color: transparent;
}
.nav-list .nav-item {
  position: relative;
}
.nav .nav-item:hover:after {
  width: 70%;
}
.nav .nav-item::after {
  content: "";
  position: absolute;
  top: 2.4rem;
  left: 0;
  height: 0px;
  width: 0;
  border-bottom: 0.5rem solid #bd945f;
  transition: 0.3s ease;
}
.nav .active.nav-item:after {
  width: 70% !important;
}
.header .box {
  z-index: 1;
  position: absolute;
  top: 160%;
  transform: translateX(-40%);
  padding: 0.75rem 0;
  border-radius: 0.75rem;
  width: 35rem;
  background: #fff;
  border: 2px solid #bd945f;
  display: none;
}
.header .box__empty {
  padding: 0.75rem;
}
.header .box__title {
  text-align: center;
  padding-bottom: 0.5rem;
}
.header .check__btn {
  padding: 0.75rem 1rem;
  background-color: #bd945f;
  text-align: center;
  color: #fff;
}
/* search */
.search-form.active {
  right: 1rem;
  transition: 0.4s linear;
}

.search-form {
  display: flex;
  /* display: none; */
  position: absolute;
  top: 110%;
  z-index: 1;
  right: -110%;
  padding-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);
  max-height: 35rem;
  width: 35rem;
  height: 4.5rem;
  background: #fff;
  overflow: hidden;
  border: 2px solid transparent;
  align-items: center;
}
.search-form input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 0.8rem;
  font-size: 1.4rem;
}
@keyframes type {
  0%,
  90%,
  100% {
    width: 0;
  }
  30%,
  60% {
    width: 13rem;
  }
}
.search-form label {
  position: absolute;
  animation: type 4.5s steps(24) infinite;
  margin-bottom: 0;
  width: 0;
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
}
.search-form__search {
  padding: 0.25rem 0.75rem;
  border-left: 1px solid #ccc;
}
.search-form i {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  color: #ccc;
}
/* slider */
.slider {
}
.slider-content {
  top: 20%;
  transform: translateX(-50%);
  left: 50%;
}
.slider-content p {
  max-width: 48rem;
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.slider-content span {
  color: #bd945f;
}
.slider-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #2c2e53;
  font-size: 4rem;
  margin-bottom: 1.2rem;
}
.slider-content button {
  font-weight: 700;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  background: #bd945f;
  border: 0.3rem solid #bd945f;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1.6rem;
}
/*  */
.home-new-img-item:hover {
}
#scroll-top.active {
  top: calc(100% - 8rem);
}
#scroll-top i {
  font-size: 1.5rem;
}
#scroll-top {
  position: fixed;
  top: -120%;
  right: 5.5rem ;
  border: 0.25rem solid #fff;
  background: #bd945f;
  color: #fff;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
  width: 4rem;
  height: 4rem;
}
